<robot name="robothix_x1" xmlns:xacro="https://github.com/roboTHIx/roboTHIx_X1">

    <!-- Odom -->
    <link name="odom">
    </link>

    <joint name="base_to_odom" type="fixed">
        <parent link="odom"/>
        <child link="base_footprint"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>


    <!-- Base Footprint -->
    <link name="base_footprint" >
    </link>

    <!-- Base Link -->
    <joint name="base_joint" type="fixed" >
        <parent link="base_footprint" />
        <child link="base_link" />
        <origin xyz="0.0 0.0 0.08" rpy="0.0 0.0 0.0" />
    </joint>
    
    <link name="base_link" >
    </link>

    <!-- Wheels -->
    <joint name="wheel_left_joint" type="fixed" >
        <parent link="base_link" />
        <child link="wheel_left_link" />
        <origin xyz="0.0 0.185 0.0" rpy="0.0 0.0 0.0" />
    </joint>

    <link name="wheel_left_link" >
    </link>

    <joint name="wheel_right_joint" type="fixed" >
        <parent link="base_link" />
        <child link="wheel_right_link" />
        <origin xyz="0.0 -0.185 0.0" rpy="0.0 0.0 0.0" />
    </joint>

    <link name="wheel_right_link" >
    </link>

    <!-- Stereo camera servo front -->
    <joint name="camera_servo_joint" type="fixed" >
        <parent link="base_link" />
        <child link="base_camera_servo" />
        <origin xyz="0.22 0.0 0.685" rpy="0.0 0.0 0.0" />
    </joint>

    <link name="base_camera_servo" >
    </link>

</robot>