<launch>
	<!-- # SIGNAL PRECONDITIONING # -->
		<!-- twist_to_diff_motor -->
		<!-- >node pkg="robothix_x1_base" type="twist_to_diff_motors" name="twist_to_diff_motors" /> -->
		
		<!-- driver control and feedback -->
		<!-- see  ACTUATORS -->
	
	<!-- # ACTUATORS # -->
		<!-- Phidgets Drivers -->
		<!-- include file="$(find robothix_x1_bringup)/launch/phidget_drive.launch" -->
			<!-- starts Nodes: -->
			<!-- PhidgetsMotorsNodelet_left -->
			<!-- PhidgetsMotorsNodelet_right -->
		
		<!-- Phidgets Driver Controls and Sensor feedback (replaces "Phidgets Drivers" above) -->
		<node pkg="robothix_x1_base" type="drive_feedback.py" name="drive_feedback" />

</launch>
